/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/Georgia.woff), url(../fonts/Georgia.woff2);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Georgia";
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body:not(.home) .main {
  padding: 150px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1920px;
  padding: 0 230px;
  height: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.header {
  background-color: rgb(212, 1, 25);
  opacity: 0.878;
  color: #fff;
  height: 150px;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.header-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 113px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13%;
  flex: 0 0 13%;
  background-color: #fff;
  margin-right: 90px;
}

.menus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.menu__top-list {
  margin-right: 30px;
}

.menu__top-list,
.menu__top-contact,
.menu__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__top-list li + li {
  margin-left: 42px;
}

.menu__contact-item + .menu__contact-item {
  margin-left: 76px;
}

.menu__contact-item {
  padding-left: 30px;
  position: relative;
}

.menu__contact-item svg {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

/* 
.menu__contact-item::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 15px;
	height: 15px;
	background-color: #fff;
	background-image: url(../images/social/icons/skype.svg);
	transform: translateY(-50%);
} */

.main {
  margin-bottom: 71px;
}

.main_slider {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.swiper-slide::before {
  content: "";
  background-color: rgb(22, 20, 20);
  opacity: 0.38;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main_slider-img {
  width: 100%;
  height: 100%;
}

.main_slider-description {
  position: absolute;
  color: #fff;
  max-width: 1080px;
  height: 220px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page__title {
  font-size: 49px;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.page__text {
  font-size: 27px;
  line-height: 42px;
}

.main_slider .swiper-pagination {
  bottom: 26%;
}

.main_slider .swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  width: 16px;
  height: 16px;
  background-color: transparent;
}

.main_slider .swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.top__tours .container {
  padding: 0 40px;
}

.section__title {
  font-size: 41px;
  line-height: 42px;
  color: #282828;
  text-align: center;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.setion__text {
  font-size: 22px;
  line-height: auto;
  color: #282828;
  text-align: center;
  margin-bottom: 90px;
}

.tours__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tours__item {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
  width: 370px;
  height: 445px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.tours__item img {
  height: 263px;
}

.tours__item-header {
  width: 100%;
  height: 35px;
  background-color: rgba(37, 46, 5, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.tours__item-header div + div {
  margin-left: 20px;
}

.tours__item-stars,
.tours__item-people,
.tours__item-likes {
  font-size: 14px;
  color: #fff;
}

.tours__item-stars {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tours__item-title,
.tours__item-footer {
  padding: 0 15px;
}

.tours__item-title,
.tours__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tours__item-title-wrapper h3 {
  font-size: 17px;
  line-height: auto;
  color: #191919;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(37, 46, 55, 0.18);
}

.tours__item-title-wrapper p {
  margin-top: 9px;
  font-size: 14px;
  line-height: auto;
  color: #191919;
}

.tours__item-price {
  background-color: #252e37;
  color: #fff;
  width: 165px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 25px;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.tours__item-footer {
  font-size: 14px;
  line-height: 23px;
  color: #191919;
}

.tours__item-btn {
  border-radius: 3px;
  background-color: rgb(207, 19, 39);
  padding: 12px 22px;
  border-color: transparent;
  color: #fff;
  text-transform: uppercase;
}

.show_more {
  padding: 15px 45px 15px 22px;
  background-color: transparent;
  border-width: 1px;
  border-color: rgba(37, 46, 55, 0.29);
  border-style: solid;
  border-radius: 3px;
  color: #252e37;
  margin: 0 auto;
  display: block;
}

.footer .container {
  padding: 0 140px;
}

.footer {
  height: 423px;
  width: 100%;
  position: relative;
}

.footer-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.footer::before {
  position: absolute;
  content: "";
  background-color: rgba(22, 27, 33, 0.97);
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.footer__wrapper {
  position: relative;
  z-index: 2;
  color: #fff;
  border: 1px solid #fff;
  width: 511px;
  height: 310px;
  font-size: 17px;
  line-height: 29px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
}

.footer__wrapper:nth-child(1) {
  padding: 50px;
  padding-left: 7%;
  padding-top: 37px;
}

.footer__wrapper:nth-child(2) {
  padding-top: 39px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 6%;
  line-height: 22px;
}

.footer__wrapper:nth-child(3) {
  padding-top: 60px;
  padding-right: 45px;
  padding-bottom: 50px;
  padding-left: 45px;
}

.menu__footer-list li {
  list-style: disc;
  padding-left: 20px;
}

.footer__contact-item {
  padding-left: 41px;
  margin-bottom: 16px;
  position: relative;
}

.footer__contact-item svg {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.director {
  padding: 0;
  margin-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.director-photo {
  width: 43px;
  height: 43px;
  float: left;
  margin-right: 50px;
}

.footer__social-text {
  text-align: center;
  margin-bottom: 25px;
}

.footer__social-text span {
  display: block;
  font-size: 21px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 23px;
  -moz-column-gap: 23px;
  column-gap: 23px;
  width: 222px;
  margin: 0 auto;
}

.copyright {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  z-index: 9;
  position: absolute;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 1550px) {
  .container {
    padding: 0 100px;
  }

  .menu__contact-item + .menu__contact-item {
    margin-left: 30px;
  }

  .foter__wrapper:nth-child(2) {
    padding-right: 5px;
  }

  .foter__wrapper:nth-child(2) {
    padding-left: 4%;
  }
}

@media (max-width: 1350px) {
  .foter__wrapper:nth-child(2) {
    padding-left: 3%;
  }
}